<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>626060820261-5igj20mpktibbbntrl7ja8krr44tcamc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626060820261-5igj20mpktibbbntrl7ja8krr44tcamc</string>
	<key>API_KEY</key>
	<string>AIzaSyDc4fT1woW1YOcqCSySSKh2TokveNSUD-4</string>
	<key>GCM_SENDER_ID</key>
	<string>626060820261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Barathrus.Agendhia</string>
	<key>PROJECT_ID</key>
	<string>agendhia</string>
	<key>STORAGE_BUCKET</key>
	<string>agendhia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:626060820261:ios:ebbfc79e1387c814</string>
	<key>DATABASE_URL</key>
	<string>https://agendhia.firebaseio.com</string>
</dict>
</plist>